~~
~~ Copyright (c) 2018 Maven Protocol Buffers Plugin Authors. All rights reserved.
~~
~~ Licensed under the Apache License, Version 2.0 (the "License");
~~ you may not use this file except in compliance with the License.
~~ You may obtain a copy of the License at
~~
~~    http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing, software
~~ distributed under the License is distributed on an "AS IS" BASIS,
~~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
~~ See the License for the specific language governing permissions and
~~ limitations under the License.
~~

            -------------------------------------------------
            Resolving Protoc Artifact From Maven Central Repo
            -------------------------------------------------

~~ APT Format: http://maven.apache.org/doxia/references/apt-format.html

Resolving Protoc Artifact From Maven Central Repo

* Overview

  Starting with versions <<<2.6.1>>> and <<<3.0.0-alpha-2>>> of <<<protoc>>>, its binary executables
  for all major operating systems are available as artifacts in Maven central.
  These artifacts can be referenced in plugin configuration as described below.
  The plugin automatically resolves and downloads the <<<protoc>>> executable,
  and uses it for compiling protobuf definitions.

* Usage

  It is recommended to use {{{https://github.com/trustin/os-maven-plugin} os-maven-plugin}} to automatically
  generate a classifier for the current OS and architecture. The same plugin is used by protobuf team at Google
  to generate classifiers for <<<protoc>>> artifacts.

  Plugin parameter <<<protocArtifact>>> can be used for specifying artifact coordinates in a
  <<<groupId:artifactId:version\[:type\[:classifier\]\]>>> format.

  A sample configuration is provided below:

+-----+

<project>
  ...
  <build>
    <extensions>
      <extension>
        <groupId>kr.motd.maven</groupId>
        <artifactId>os-maven-plugin</artifactId>
        <version>1.6.1</version>
      </extension>
    </extensions>
    <plugins>
      <plugin>
        <groupId>${project.groupId}</groupId>
        <artifactId>${project.artifactId}</artifactId>
        <version>${project.version}</version>
        <executions>
          <execution>
            <goals>
              <goal>compile</goal>
              <goal>test-compile</goal>
            </goals>
          </execution>
        </executions>
        <configuration>
          <protocArtifact>com.google.protobuf:protoc:3.4.0:exe:${os.detected.classifier}</protocArtifact>
        </configuration>
      </plugin>
      ...
    </plugins>
    ...
  </build>
  ...
</project>

+-----+

  Eclipse users, please also read
  {{{https://github.com/trustin/os-maven-plugin/blob/master/README.md#issues-with-eclipse-m2e-or-other-ides}the following notes}}.
